:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #000000;
}

/* 
#000000
#404040
#808080
#BFBFBF
#FFFFFF 
*/